

h1 Albums

div 
	= form_with model:@playlist, url:'/playlists/songs', method: 'post', local: true do |form|

		=form.label :playlist_name,'Name'
		=form.text_field :playlist_name
		br
		=form.label :albums, 'Number of albums in your playlist'
		=form.text_field :number_albums
		br
		=form.label :songs, 'Number of tracks in your playlist'
		=form.text_field :number_songs
		br 
		
	
		-@albums[nil]. each do |name,album|

			h2 =name
			
			=form.collection_check_boxes :spotify_ids, album, :name_with_id, :name do |b|
				p
					= b.label(:"data-value" => b.value) { b.check_box }
					= b.text
					br
				

		=submit_tag 'Create playlist'  
		=submit_tag 'Pick an Artist'